body{
    background-image: url("https://readtothem.org/wp-content/uploads/2015/12/Geometric-Wallpaper-HD-34.jpg");
}

.container-2{
    background-color: aliceblue;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 650px;
}

.content-hobbies{
    padding-top: 10px;
}

.content-hobbies > h2{
    color:rgb(52, 66, 78);
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.content-hobbies > ul{
    color:rgb(0, 0, 0);
    font-size: 13px;
    margin-left: 10px;
}

.content-tops{
    padding-top: 10px;
}

.content-tops > h2{
    color:rgb(52, 66, 78);
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.content-tops > ol{
    color:rgb(0, 0, 0);
    font-size: 13px;
    margin-left: 10px;
}

.container{
    background-color: rgb(175, 175, 247);
    opacity: 80%;
    width: 100%;
    max-width: 900px;
    height: 500px;
}

.content{
    width: 50%;
}

.content > img{
    border-radius: 60%;
    margin-top: 90px;
    margin-left: 20px;
}

.content > h2{
    color:rgb(52, 66, 78);
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.content > p{
    color:rgb(0, 0, 0);
    font-size: 13px;
    margin-left: 10px;
}


.topo{
    background-color: rgb(9, 9, 68);
    height: 60px;
    width: 100%;
    max-width: 900px;
    position: absolute;
}

.topo > h1{
    color: rgb(170, 170, 214);
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
}

.rodape{
    background-color: rgb(9, 9, 68);
    height: 60px;
    width: 100%;
    max-width: 900px;
    position: bottom;
}

.rodape > .content-rodape > .icones > a > img{
    margin-top: 15px;
    margin-left: 5px;
}

.rodape > .content-rodape > a{
    color:rgb(170, 170, 214);
    font-weight:200;
    position: center;
    margin-left: 10px;
}
